.btn {
  margin-top: 7%;
  width: 100%;
  padding: 3%;
  background-color: #bf5b04;
  border-radius: 5px;
  border: none;
  border: none;

  font-weight: 700;
  font-size: 24px;
  font-family: "Bitter";
  letter-spacing: 0.13em;
}
