.containerButtonsE {
  display: flex;
  margin: 0px;
  justify-content: space-between;
  align-items: center;
  gap: 250px;
}
.addUser {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 4%;
}
.addUser > span {
  font-family: "Bitter";
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  /* letter-spacing: 0.146em; */
  letter-spacing: 1px;
}
.containerButtonsE > button {
  width: 300px;
  margin: 0;
}
.containerButtonsE {
  display: flex;
  margin: 30px 0;
  justify-content: space-around;
}
.containerTable {
  display: grid;
  grid-template-areas:
    "hd"
    "content";
  /* border: 1px solid black; */
  margin: 30px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-family: "Bitter";
  font-weight: 700;
  font-size: 22px;
  line-height: 150%;
  letter-spacing: 0.146em;
}

.columnsName {
  grid-area: hd;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;

  grid-template-areas: "ha he hi ho hu";
  align-items: center;
  background-color: #bf5b04;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 5px;

  /* border: 1px solid black; */
}
.columnsName > span {
  color: white;
}
.containerId {
  background-color: rgba(237, 237, 237, 1);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-bottom: 80px;
  align-items: center;
}
.containerId > ul {
  grid-area: content;
  display: grid;
  grid-template-areas: "ca ce ci co cu";
  grid-template-columns: 20% 20% 20% 20% 20%;
  align-items: center;
  padding: 0;
}
.containerId > ul > li {
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.icon1 {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
#btnProduct {
  margin-right: 5%;
  width: 250px;
  height: 95px;
}
@media (min-width: 320px) and (max-width: 480px) {
  .addUser {
    margin-left: 0%;
  }

  .addUser > span {
    font-size: 16px;
  }

  #btnProduct {
    font-size: 18px;
    height: 35%;
    width: 90%;
    margin-right: 0%;
  }
  .containerButtonsE {
    display: flex;
    gap: 10px;
    justify-content: center;
    width: 90%;
    margin: -3% 5%;
    flex-direction: column;
  }
  .containerTable {
    display: grid;
    grid-template-areas:
      "hd"
      "content";
    margin: 3%;
    font-size: 18px;
  }
  .pwd {
    display: none;
  }
  .columnsName {
    grid-area: hd;
    display: grid;
    grid-template-columns: 15% 29% 30% 22%;
    grid-template-areas: "ha he ho hu";
    align-items: center;
    font-size: 18px;
    margin-top: 3%;
  }
  .containerId > ul > .passWord {
    display: none;
  }
  .containerId > ul {
    grid-area: content;
    display: grid;
    grid-template-areas: "ca ce co cu";
    grid-template-columns: 15% 30% 33% 20%;
    align-items: center;
    padding: 0;
    margin-bottom: 45px;
    font-size: 18px;
  }
  .editU {
    width: 20px;
  }
  .deleteU {
    width: 25px;
  }
  .addU {
    width: 40px;
  }
}
