#root {
  margin: 0 auto;
  /* padding: 2rem; */
  margin-left: 0;
  text-align: center;
}
.logo {
  height: 220px;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.formLogin {
  display: flex;
  margin-right: 20%;
  margin-left: 20%;
  max-width: 100%;
  height: 550px;
}
.formLogin > form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.failLogin {
  display: block;
  color: #bf1304;
  font-family: "Bitter";
  font-weight: 700;
  font-size: 22px;
  line-height: 150%;
  letter-spacing: 0.146em;
  text-align: left;
  margin-top: 2px;
}
