.containerBanner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 150px;
}
.containerBanner > h1 {
  margin: 0px;
  font-size: 35px;
  /* margin-left: 7%; */
}
.logoSmall {
  width: 130px;
}
.containerUser {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.08em;
}
.iconOut {
  margin-bottom: -2%;
}

@media (min-width: 320px) and (max-width: 480px) {
  .containerBanner > h1 {
    font-size: 20px;
  }
  .logoSmall {
    width: 80px;
  }
  .containerUser {
    font-weight: 700;
    font-size: 14px;
    height: 50px;
  }
  .iconOut {
    margin-bottom: -5%;
    width: 20px;
  }
  .iconUser {
    width: 25px;
  }
}
