.containerTableOrder {
  display: grid;
  grid-template-areas: "name";
  margin: 30px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-family: "Bitter";
  font-weight: 700;
  font-size: 22px;
  line-height: 150%;
  letter-spacing: 0.146em;
  background-color: rgba(237, 237, 237, 1);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-bottom: 113px;
}
.columns {
  grid-area: name;
  display: grid;
  grid-template-areas: "h1 h2";
  grid-template-columns: 30% 70%;
  background-color: #bf5b04;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 5px;
}
.columns > span {
  color: white;
}
.containerOrders {
  display: grid;
  grid-template-areas: "client order";
  grid-template-columns: 40% 60%;
}
.dataClient {
  grid-area: client;
  border-top: solid 1px black;
  border-right: solid 1px black;
}
.dataOrder {
  grid-area: order;
  border-top: solid 1px black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.dataClient > ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  flex-direction: column;
  height: 200px;
}
.dataOrder > ul {
  display: grid;
  grid-template-areas: "d1 d2 d3";
  grid-template-columns: 10% 20% 60%;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.client {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-left: -55px;
  align-items: flex-start;
  list-style: none;
}
.timer {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-left: -20px;
  list-style: none;
  margin-right: -10px;
}

#btnUpdate {
  width: 35%;
  align-self: end;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px 3px 0;
}
p {
  font-family: "Bitter";
  font-weight: 700;
  font-size: 22px;
  line-height: 150%;
  letter-spacing: 0.146em;
  text-align: center;
  margin-bottom: 80px;
}
.viewChef {
  display: inline-block;
  height: 585px;
}
.viewOrders {
  display: inline-block;
  height: 460px;
}
